body {
  background-color: white;
  font-family: sans-serif;
  color: white;
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}

#box-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-weight: 200;
  padding: 24px;
  }

#box-1,
#box-6 {
  background-color: #35BC7B
}

#box-2 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
  background: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/10/05/08/bradley-cooper.jpg?w968h681) no-repeat center;
  background-size: cover;

}

#box-3 {
   background-color: #FF9E01;
}

#box-4,
#box-8 {
  background-color: #1E8BC4;
}

#box-5 {
  background-color: #F15A48
}

#box-7,
#box-9 {
  background-color: #F86926
}

.one-by-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  fill: white;
  display: block;
  height: 70px;
  margin: 0 auto;
}

button {
  color: white;
  background-color: transparent;
  padding: 10px 14px;
  margin-right: 6px;
  border: 2px white solid;
  transition: .2s;
}

button:hover {
  background-color: white;
  color: #00c175;
}